* {
    margin: 0px;
    padding: 0px;    font-family: "Open Sans";

}


header
{
    height: 800px;
   background-color:#FFF8F3;
   background-image: url(./developer.png) , url(./header_bg.png) ;
   background-repeat: no-repeat;
   background-position: top left , right bottom;
   padding-top: 51px;
}

/*  Navbar  */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 230px 0px 226px;
}

.nav_title 
{
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-weight: 800;
}

nav ul li { list-style: none ; }

a {
     text-decoration: none;
     color: var(--Dark-02, #474747);
 }

ul
{
    display: flex;
    justify-content: space-around;
    margin-left: 400px;
    font-size: 20px;
    font-weight: 600;
    gap: 40px;
}

.pri_button
{
    padding: 12px 35px 12px 35px;
    background-color: #FD6E0A;
    color: white;
    font-size: 15px;
    font-weight: 400;
    border-radius: 5px;
    border: none;
}

.sec_button
{
    padding: 12px 35px 12px 35px;
    background-color:white;
    color:#FD6E0A ;
    font-size: 15px;
    font-weight: 400;
    border-radius: 5px;
    border: 1px solid #FD6E0A; 
}

/*  */

.description 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 230px ;
}

.des_text p
{
    font-size: 45px;    
    font-weight: 600;
    color: var(--Dark-02, #474747);
    margin-top: 50px;
    gap: 5px;
}

.des_text h1
{
    font-size: 45px;    
    font-weight: 800;
    color: var(--Dark-01, #181818);
    margin-top: 20px;

}

.des_text h2
{
    max-width: 500px;
    font-size: 18px;
    font-weight: 400;
    color: var(--Dark-03, #757575);
    margin-top: 20px;
}

.des_text button
{
   margin-top: 20px; 
}


.description img
{
    margin: 73px 20px 0px 0px;
}

/* END OF HEADER */


/* START OF ABOUT - MAIN PART - 1 */

.main_part
{
    max-width: 900px; height: 400px;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 270px 50px 300px;
    border-radius: 10px;
    background: #FFF8F3;     

}

.about
{
    max-width: 750px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid blue;
}

.about h1{
    color: var(--Dark-01, #181818);
    font-size: 35px;
    font-weight: 700;
    margin-top: 7px;
}

.about p 
{
    color: var(--Dark-03, #757575);
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
}

.short_des
{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;

}

.name h3, .email h3, .from h3, .dob h3 
{
    padding-right: 10px;
    color: var(--Dark-03, #757575);font-size: 20px;

}

.name p, .email p, .from p, .dob p 
{
    padding-right: 10px;
    color: var(--Dark-02, #474747);font-size: 20px;

}

/* END OF MAIN PART - 1 */

/* START OF MAIN PART - 2 */

.myskill
{
    background: var(--White-Color, #FFF);
}

.myskill p 
{
    color: var(--Dark-01, #181818);
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

#text
{
    height: 200px;
    margin: 20px 300px 0px 300px;
}

.myskill h3{
    color: var(--Dark-03, #757575);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.skill_in_language
{
    display: flex;
   justify-content: center;
    margin-top: 10px 20px 20px 10px;
    gap: 20px;

}

.skill-1 , .skill-2 , .skill-3 , .skill-4
{
    max-width: 200px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    
}

.skill-1 h3, .skill-2 h3, .skill-3 h3, .skill-4 h3
{
    color: var(--Dark-01, #181818);
    text-align:start;
    font-size: 15px;
    font-weight: 700;
    margin:29px 0px 0px 5px;
}

.skill-1 p, .skill-2 p, .skill-3 p, .skill-4 p
{
    color: var(--Dark-03, #757575);
    text-align:start;
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px 0px 10px 0px;
}

/* END OF MAIN PART - 2 */

/* START OF MAIN PART - 3 */

.resume
{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.education
{
    width: 400px;
    height: 600px;
}

.experiences
{
    width: 400px;
    height: 600px;
}

.education-title , .experiences-title
{
    color: var(--Dark-02, #474747);
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.item-1 h3 , .item-2 h3 , .item-3 h3
{
    color: var(--Dark-02, #474747);
    font-size: 25px;
    font-weight: 700;
    margin: 10px 0px 10px 0px;
}

.item-1 h4 , .item-2 h4 , .item-3 h4
{
    color: var(--Dark-03, #757575);
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0px 10px 0px;

}

.item-1 p , .item-2 p , .item-3 p
{
    color: var(--Dark-03, #757575);
    font-size: 14px;
    font-weight: 400;
    margin: 10px 0px 10px 0px;
}

/* END OF MAIN PART - 3 */